@charset "utf-8";
.login-wrap{
  position: relative; 
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login{ 
  display: flex;
  width: 400px;
  height: 400px;
  padding: 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc; 
  border-radius: 5px;
  overflow: hidden;
}
.login ul{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.login ul li{
  position: relative;
  width: 80%;
  margin: 15px 0;
} 
.login ul li span.checkcode{
  position: absolute;
  width: 25%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  top: 50%;
  right: 0;
  box-sizing: border-box;
  margin-top: -20px;
  background: #fff;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #eee;
}
