<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzhihua.bs.dao.QpNoticebillMapper">
  <resultMap id="BaseResultMap" type="com.youzhihua.bs.dao.entity.QpNoticebill">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="delegater" jdbcType="VARCHAR" property="delegater" />
    <result column="pickaddress" jdbcType="VARCHAR" property="pickaddress" />
    <result column="arrivecity" jdbcType="VARCHAR" property="arrivecity" />
    <result column="product" jdbcType="DATE" property="product" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="volume" jdbcType="VARCHAR" property="volume" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="ordertype" jdbcType="VARCHAR" property="ordertype" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from qp_noticebill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.youzhihua.bs.dao.entity.QpNoticebill">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into qp_noticebill (staff_id, customer_id, customer_name, 
      delegater, pickaddress, arrivecity, 
      product, num, weight, volume, 
      remark, ordertype, user_id
      )
    values (#{staffId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, 
      #{delegater,jdbcType=VARCHAR}, #{pickaddress,jdbcType=VARCHAR}, #{arrivecity,jdbcType=VARCHAR}, 
      #{product,jdbcType=DATE}, #{num,jdbcType=INTEGER}, #{weight,jdbcType=DOUBLE}, #{volume,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{ordertype,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.youzhihua.bs.dao.entity.QpNoticebill">
    update qp_noticebill
    set staff_id = #{staffId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      delegater = #{delegater,jdbcType=VARCHAR},
      pickaddress = #{pickaddress,jdbcType=VARCHAR},
      arrivecity = #{arrivecity,jdbcType=VARCHAR},
      product = #{product,jdbcType=DATE},
      num = #{num,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      volume = #{volume,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      ordertype = #{ordertype,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, staff_id, customer_id, customer_name, delegater, pickaddress, arrivecity, 
    product, num, weight, volume, remark, ordertype, user_id
    from qp_noticebill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, staff_id, customer_id, customer_name, delegater, pickaddress, arrivecity, 
    product, num, weight, volume, remark, ordertype, user_id
    from qp_noticebill
  </select>
</mapper>