<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youzhihua.bs.dao.TRoleMapper">
    <insert id="insert" parameterType="com.youzhihua.bs.dao.entity.TRole"  useGeneratedKeys="true" keyProperty="roleId">
        insert into t_role (`name`,`desc`)
    values (#{name,jdbcType=VARCHAR},#{desc,jdbcType=VARCHAR})
    </insert>
    <select id="select" resultType="com.youzhihua.bs.dao.entity.TRole">
        select role_id,name,`desc` from t_role
    </select>
    <select id="selectById" resultType="com.youzhihua.bs.dao.entity.TRole">
        select * from t_role where role_id = #{roleId}
    </select>

    <select id="countItem" resultType="int">
         select COUNT(*) as count from t_role
    </select>
    <delete id="delByKry">
        delete from t_role where role_id = #{roleId}
    </delete>
</mapper>